video-controls {
	display: grid;
	grid-template-columns: repeat(3, 45px) auto;
	column-gap: 10px;

	select {
		-webkit-appearance: none;
		text-align-last: center;
		option {
			margin: 40px;
			background: var(--color-primary);
			color: white;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		}
	}

	.scrub-container {
		display: flex;
		align-items: center;
	}

	.volume-slider {
		display: none;
	}

	.volume-slider-show {
		display: flex;
		align-items: center;
		padding: 0 10px;
		border: 1px solid var(--color-secondary);
		border-radius: 0px 8px 8px 0px;
		border-left: 0px ;
		height: 44.5px;
		width: 110px;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		position: absolute;
		top: -74px;
		left: -33px;
	}

	.volume-parent {
		position: relative;
		font-size: 15px;
		display: grid;
	}

	.warning-modal {
		position: absolute;
		top: 25%;
		left: 40%;
		display: none;
		flex-direction: column;
		align-items: flex-end;
	}

	.close-modal {
		border: 1px solid white;
		width: 22px;
		padding: 1px 5px;
		margin-bottom: 10px;
		margin-right: 15px;
		background: transparent;
		font-size: 16px;
	}

	.recording-warning {
		background-color: #767676;
		flex-direction: column;
		text-align: center;
		padding: 20px;
		border-radius: 20px;
		h1 {
			color: #fd7d3e;
		}
		p {
			color: #ffffff;
			margin: 10px;
			font-size: 18px;
		}
	}

	.show {
		display: flex;
	}

	pop-box {
		.pop-options {
			bottom: 100%;
			left: 0;
			right: 0;
			height: 50px;
			top: auto;
			border: 1px solid var(--color-secondary);
			width: 150px;
		}
	}
}
