side-bar {
	display: grid;
	grid-template-rows: repeat(4, 45px) auto repeat(3, 45px);
	grid-row-gap: 10px;

	.menu-button {
		border: none;
	}
	.logo-icon {
		width: 30px;
	}
	.dropdown {
		position: relative;
		display: grid;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #767676;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		border-radius: 10px;
		top: 100%;
	}
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		border-radius: 10px;
	}

	.color-picker {
		.color-box {
			height: 20px;
			width: 20px;
			margin: 0 5px;
			&:hover {
				cursor: pointer;
			}
		}
		.color-options {
			display: flex;
		}
	}

	.stroke-width-select {
		[type=range] {
			width: 200px;
		}
		.btn {
			font-size: 30px;
		}
	}

	.record {
		font-size: 14px;
		&.active {
			background: red;
		}
	}

	.dropdown-content a:hover {background-color: #f1f1f1;}

	.dropdown:hover .dropdown-content {display: block;}

	// Download Button
  .modal {
    position: absolute;
    left: 45%;
    top: 45%;
    margin-top: -50px;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    background-color: #333333;
  }

  #name-file-form {
    form {
      display: flex;
      align-items: center;
      label {
        display: flex;
        input {
          margin: 0 10px;
          border-radius: 5px;
          padding: 1px 5px;
          color: black;
          text-align: center;
        }
      }
    }
    .submit-form {
      height: 30px;
      width: 30px;
    }
  }

	.show {
		display: flex;
	}
}
