work-space {
	display: grid;
	grid-template-columns: 45px auto;
	grid-template-rows: auto 45px;
	grid-template-areas:
		"side-bar video-draw"
		"side-bar video-controls";
	gap: 10px;

	side-bar {
		grid-area: side-bar;
	}

	.video-draw-container {
		grid-area: video-draw;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		canvas {
			width: 100%;
			max-height: 100%;
			max-width: 150vh;
			cursor: url('../../assets/icons/Pencil-icon.png'), crosshair;
		}
	}

	video-controls {
		grid-area: video-controls;
	}
}
