
@import 'icons';

@font-face {
  font-family: rubik-regular;
  src: url(../assets/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: rubik-bold;
  src: url(../assets/fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: rubik-medium;
  src: url(../assets/fonts/Rubik-Medium.ttf);
}

:root {
	--color-primary: #333333;
	--color-secondary: #808080;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color:#FFFFFF;
  font-family: rubik-regular;
}

html, body {
	height: 100%;
}

body {
  background-color: var(--color-primary);
}

/* Common Component Styles */
i {
	padding: 2px 0;
}

.btn {
	display: flex;
	background: none;
	border: 1px solid var(--color-secondary);
	border-radius: 5px;
	font-size: 18px;
	outline: none;
	padding: 4px;
	justify-content: space-evenly;
	cursor: pointer;
}

// Slider
.slider {
	appearance: none;
	width: 100%;
	height: 3px;
	background: var(--color-secondary);
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
	margin: 0 10px
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background: var(--color-primary);
	border: 1px solid var(--color-secondary);
	border-radius: 100%;
	cursor: pointer;
}
