@font-face {
  font-family: 'icomoon';
  src:
    url('../assets/fonts/icomoon.ttf?indh2k') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line_weight:before {
  content: "\e905";
}
.icon-play_arrow:before {
  content: "\e907";
}
.icon-pause:before {
  content: "\e906";
}
.icon-mic-off:before {
  content: "\e90b";
}
.icon-mic:before {
  content: "\e90e";
}
.icon-record:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
  color: #f4877f;
}
.icon-markup-selected:before {
  content: "\e904";
}
.icon-mute:before {
  content: "\e908";
}
.icon-upload:before {
  content: "\e90d";
}
