media-select {
	justify-self: center;
  align-self: center;
  text-align: center;
	label {
		height: 80px;
		width: 80px;
    border: 2px solid #808080;
    border-radius: 10px;
    margin-bottom: 15px;
		display: inline-grid;
		justify-items: center;
    align-content: center;

	}
	input[type=file] {
    width: 20%;
    height: 25%;
    opacity: 0;
    top: 35%;
    left: 40%;
    position: absolute;
    cursor: pointer;
  }
  .logo-icon-box {
    position: absolute;
    top: 45px;
    left: 65px;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .logo-icon {
    width: 30px;
    margin-right: 10px;
  }
  .upload-icon {
    font-size: 25px;
  }
  .bold {
    font-family: rubik-bold;
  }
}
