app-root {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto 50px;
	padding: 25px 25px 0 25px;

	#copyright {
		font-size: 12px;
		justify-self: center;
		align-self: center;
	}
}
