pop-box {
	position: relative;
	display: grid;
	.pop-options {
		position: absolute;
		display: flex;
		left: 100%;
		top: 0;
		bottom: 0;
		border: 1px solid var(--color-secondary);
		border-left: none;
		border-radius: 5px;
		align-items: center;
		padding: 0 5px;
		background-color: #333333;

		&.is-hidden {
			display: none;
		}
	}
}
