contact-us-modal {
	position: absolute;
	left: 35%;
  top: 25%;
  #contact-us {
    width: 500px;
    p {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        margin-top: 10px;
        input,textarea  {
          width: 90%;
          margin: 5px 10px;
          border-radius: 5px;
          padding: 1px 5px;
          color: black;
          text-align: left;
        }
      }
      div {
        display: flex;
        justify-content: flex-end;
      }
    }
    .form-btn {
      margin-top: 10px;
			margin-left: 10px;
			width: 130px;
    }
    .form-btn:hover {
      background-color: #808080;
    }
  }

	// Download Button
  .modal {
    position: absolute;
    left: 45%;
    top: 45%;
    margin-top: -50px;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    background-color: #333333;
  }

  #name-file-form {
    form {
      display: flex;
      align-items: center;
      label {
        display: flex;
        input {
          margin: 0 10px;
          border-radius: 5px;
          padding: 1px 5px;
          color: black;
          text-align: center;
        }
      }
    }
    .submit-form {
      height: 30px;
      width: 30px;
    }
  }

	.show {
		display: flex;
	}
}
